---
---

html, body {
    font-family: "Computer Modern Serif", "Palatino", "Perpetua", "Baskerville", "Lucida Console", "Florence", "Times New Roman", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}


html {
    margin-top: 1rem;
    text-align: justify !important;
}

.footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    // height: 60px; /* Set the fixed height of the footer here */
    // line-height: 60px; /* Vertically center the text there */
    margin-top: 1rem;
    padding: 15px;
    background-color: #f5f5f5;
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footnote {
    font-size: 1rem;
    color: darkgrey;
}

.profile-img {
    border-radius: 50%;
    width: 100%;
    max-width: 250px;
    margin: 35px 0px 0px 15px;
    text-align: left;
}

.profile-img-small {
    border-radius: 50%;
    // position: absolute;
    // top: 2rem;
    // right: 35px;
    //margin-left: auto;
    //display: block;
    float: right;
    height: 100px;
    width: 100px;
    margin-top: -25px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: right;
}

.page-title {
    font-size: 2rem;
    font-weight: 500;
}

@media (max-width: 575.98px) {
    .page-title {
        letter-spacing: -0.05em;
    }
}

.section-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 1rem 0px;
}

.publication-title, .subsection-title {
    font-size: 1.25rem;
    // font-weight: bold;
    margin: 0.5rem 0 0.25rem 0;
}

.publication-venue {
    font-weight: 300;
    p {
        margin: 0.125rem 0 0.5rem 0;
    }
}

.publication-authors {
    margin: 0 0 0 0;
    p {
        margin: 0 0 0 0;
    }
}

.publication-excerpt {
    margin: 0 0 0 0;
}

.publication-links {
    margin: 0.125rem 0 1rem 0;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

.align-self-center {
    text-align: center;
}

.cover-image {
    max-width: 100%;
    max-height: 170px;
    text-align: center;
}
